# Fund Chatbot – Data Understanding & Cleaning

## Objective
The goal of this notebook is to:
1. Load and explore the provided datasets (`trades.csv` and `holdings.csv`)
2. Understand the structure and meaning of each column
3. Perform basic data cleaning
4. Prepare clean datasets for use in a chatbot application

All answers generated by the chatbot will be strictly based on these datasets.

In [2]:
import pandas as pd
import numpy as np

In [4]:
trades_df = pd.read_csv("../data/trades.csv")
holdings_df = pd.read_csv("../data/holdings.csv")

In [5]:
trades_df.head()

,id,RevisionId,AllocationId,TradeTypeName,SecurityId,SecurityType,Name,Ticker,CUSIP,ISIN,...,AllocationFees,AllocationCash,PortfolioName,CustodianName,StrategyName,Strategy1Name,Strategy2Name,Counterparty,AllocationRule,IsCustomAllocation
0,3489863,2,3460886,Buy,270471,Equity,Berry Brand 4/11 Equity,NaN,NaN,NaN,...,2800.00,7.002800e+06,HoldCo 1,JP MORGAN SECURITIES LLC,Default,DefaultS1,DefaultS2,ABGS,Single Fund Rule - HoldCo 1,1
1,3489864,1,3460887,Sell,270471,Equity,Berry Brand 4/11 Equity,NaN,NaN,NaN,...,128.80,6.999871e+06,HoldCo 1,JP MORGAN SECURITIES LLC,Default,DefaultS1,DefaultS2,ABGS,Single Fund Rule - HoldCo 1,0
2,3496826,1,3462756,Sell,290063,Equity,META-US,META,30303M102,US30303M1027,...,46985.99,2.553540e+09,HoldCo 3,CITIGROUP GLOBAL MARKETS INC.,Default,DefaultS1,DefaultS2,ABGS,Single Fund Rule - HoldCo 3,0
3,3496828,3,3462769,Buy,290067,Equity,SPOT-US,SPOT,NaN,LU1778762911,...,20.20,1.098249e+06,HoldCo 11,Goldman Sachs International,Default,Asset,DefaultS2,ABGS,Single Fund Rule - HoldCo 11,1
4,3496829,4,3462770,Buy,290067,Equity,SPOT-US,SPOT,NaN,LU1778762911,...,60.62,3.294749e+06,HoldCo 11,Goldman Sachs International,Default,Asset,DefaultS2,ABGS,Single Fund Rule - HoldCo 11,1

In [6]:
holdings_df.head()

,AsOfDate,OpenDate,CloseDate,ShortName,PortfolioName,StrategyRefShortName,Strategy1RefShortName,Strategy2RefShortName,CustodianName,DirectionName,...,StartPrice,Price,StartFXRate,FXRate,MV_Local,MV_Base,PL_DTD,PL_QTD,PL_MTD,PL_YTD
0,01/08/23,04/03/20,NaN,Garfield,Garfield,Default,Asset,DefaultS2,Well Prime,Long,...,96.0,96.0,1.33,1.33,568320.00,7.558656e+05,92.5040,10833.7294,92.5040,41054.5854
1,01/08/23,04/03/20,NaN,Garfield,Garfield,Default,Asset,DefaultS2,Well Prime,Long,...,96.0,96.0,1.33,1.33,84.48,1.123584e+02,0.0138,1.6104,0.0138,6.1027
2,01/08/23,04/03/20,NaN,Garfield,Garfield,Default,Asset,DefaultS2,Well Prime,Long,...,96.0,96.0,1.33,1.33,756000.00,1.005480e+06,123.0523,14411.4221,123.0523,54612.3074
3,01/08/23,04/03/20,NaN,Garfield,Garfield,Default,Asset,DefaultS2,Well Prime,Long,...,96.0,96.0,1.33,1.33,484800.00,6.447840e+05,78.9097,9241.6104,78.9097,35021.2257
4,01/08/23,04/03/20,NaN,Heather,Heather,Default,Asset,DefaultS2,Well Prime,Long,...,96.0,96.0,1.33,1.33,487680.00,6.486144e+05,79.3785,9296.5110,79.3785,35229.2726

In [7]:
trades_df.shape, holdings_df.shape

((649, 31), (1022, 25))

In [8]:
trades_df.columns

Index(['id', 'RevisionId', 'AllocationId', 'TradeTypeName', 'SecurityId',
       'SecurityType', 'Name', 'Ticker', 'CUSIP', 'ISIN', 'TradeDate',
       'SettleDate', 'Quantity', 'Price', 'TradeFXRate', 'Principal',
       'Interest', 'TotalCash', 'AllocationQTY', 'AllocationPrincipal',
       'AllocationInterest', 'AllocationFees', 'AllocationCash',
       'PortfolioName', 'CustodianName', 'StrategyName', 'Strategy1Name',
       'Strategy2Name', 'Counterparty', 'AllocationRule',
       'IsCustomAllocation'],
      dtype='str')

In [9]:
holdings_df.columns

Index(['AsOfDate', 'OpenDate', 'CloseDate', 'ShortName', 'PortfolioName',
       'StrategyRefShortName', 'Strategy1RefShortName',
       'Strategy2RefShortName', 'CustodianName', 'DirectionName', 'SecurityId',
       'SecurityTypeName', 'SecName', 'StartQty', 'Qty', 'StartPrice', 'Price',
       'StartFXRate', 'FXRate', 'MV_Local', 'MV_Base', 'PL_DTD', 'PL_QTD',
       'PL_MTD', 'PL_YTD'],
      dtype='str')

In [10]:
trades_df.info()

<class 'pandas.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   649 non-null    int64
 1   RevisionId           649 non-null    int64
 2   AllocationId         649 non-null    int64
 3   TradeTypeName        649 non-null    str
 4   SecurityId           649 non-null    int64
 5   SecurityType         649 non-null    str
 6   Name                 649 non-null    str
 7   Ticker               201 non-null    str
 8   CUSIP                498 non-null    str
 9   ISIN                 524 non-null    str
 10  TradeDate            649 non-null    str
 11  SettleDate           649 non-null    str
 12  Quantity             649 non-null    int64
 13  Price                649 non-null    float64
 14  TradeFXRate          0 non-null      float64
 15  Principal            649 non-null    float64
 16  Interest             649 non-null    float64
 17  TotalCash            649 non-null    float64
 18  AllocationQTY        649 non-null    float64
 19  AllocationPrincipal  649 non-null    float64
 20  AllocationInterest   649 non-null    float64
 21  AllocationFees       649 non-null    float64
 22  AllocationCash       649 non-null    float64
 23  PortfolioName        649 non-null    str
 24  CustodianName        649 non-null    str
 25  StrategyName         649 non-null    str
 26  Strategy1Name        649 non-null    str
 27  Strategy2Name        649 non-null    str
 28  Counterparty         649 non-null    str
 29  AllocationRule       647 non-null    str
 30  IsCustomAllocation   649 non-null    int64
dtypes: float64(10), int64(6), str(15)
memory usage: 157.3 KB

In [11]:
trades_df.isnull().sum()

id                       0
RevisionId               0
AllocationId             0
TradeTypeName            0
SecurityId               0
SecurityType             0
Name                     0
Ticker                 448
CUSIP                  151
ISIN                   125
TradeDate                0
SettleDate               0
Quantity                 0
Price                    0
TradeFXRate            649
Principal                0
Interest                 0
TotalCash                0
AllocationQTY            0
AllocationPrincipal      0
AllocationInterest       0
AllocationFees           0
AllocationCash           0
PortfolioName            0
CustodianName            0
StrategyName             0
Strategy1Name            0
Strategy2Name            0
Counterparty             0
AllocationRule           2
IsCustomAllocation       0
dtype: int64

In [12]:
holdings_df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1022 entries, 0 to 1021
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   AsOfDate               1022 non-null   str
 1   OpenDate               1022 non-null   str
 2   CloseDate              16 non-null     str
 3   ShortName              1022 non-null   str
 4   PortfolioName          1022 non-null   str
 5   StrategyRefShortName   1022 non-null   str
 6   Strategy1RefShortName  1022 non-null   str
 7   Strategy2RefShortName  1022 non-null   str
 8   CustodianName          1022 non-null   str
 9   DirectionName          1022 non-null   str
 10  SecurityId             1022 non-null   int64
 11  SecurityTypeName       1022 non-null   str
 12  SecName                1022 non-null   str
 13  StartQty               1022 non-null   float64
 14  Qty                    1022 non-null   float64
 15  StartPrice             1022 non-null   float64
 16  Price                  1022 non-null   float64
 17  StartFXRate            1022 non-null   float64
 18  FXRate                 1022 non-null   float64
 19  MV_Local               1006 non-null   float64
 20  MV_Base                1006 non-null   float64
 21  PL_DTD                 1022 non-null   float64
 22  PL_QTD                 1022 non-null   float64
 23  PL_MTD                 1022 non-null   float64
 24  PL_YTD                 1022 non-null   float64
dtypes: float64(12), int64(1), str(12)
memory usage: 199.7 KB

In [13]:
holdings_df.isnull().sum()

AsOfDate                    0
OpenDate                    0
CloseDate                1006
ShortName                   0
PortfolioName               0
StrategyRefShortName        0
Strategy1RefShortName       0
Strategy2RefShortName       0
CustodianName               0
DirectionName               0
SecurityId                  0
SecurityTypeName            0
SecName                     0
StartQty                    0
Qty                         0
StartPrice                  0
Price                       0
StartFXRate                 0
FXRate                      0
MV_Local                   16
MV_Base                    16
PL_DTD                      0
PL_QTD                      0
PL_MTD                      0
PL_YTD                      0
dtype: int64

In [14]:
trades_df.columns = trades_df.columns.str.lower().str.strip()
holdings_df.columns = holdings_df.columns.str.lower().str.strip()

In [15]:
trades_df['portfolioname'] = trades_df['portfolioname'].str.lower().str.strip()
holdings_df['portfolioname'] = holdings_df['portfolioname'].str.lower().str.strip()

In [16]:
holdings_df['asofdate'] = pd.to_datetime(holdings_df['asofdate'], errors='coerce')
holdings_df['pl_ytd'] = holdings_df['pl_ytd'].fillna(0)

## Summary

- Trades data is used for counting executions
- Holdings data is used for fund performance (P&L)
- PortfolioName represents the fund
- Data is now clean and ready for backend analytics